<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	
	<title>RPHub - things</title>
	
	<%- include imports.ejs %>	
	
	
</head>

<body>
	<!-- header -->
	<%- include makeNavbar.ejs %>
	
	<!-- sidebar-->
	<%- include makeSidebar.ejs %>
	
	
	
	<div id="meat"> <!-- entire body -->		
		
		<!-- <a href="request.html" id="reqbtn" class="btn btn-success" style="float: right">Request Something</a> -->
		
		<div id="cblist">
			<input type="checkbox" value="first checkbox" id="cb1" /> <label for="cb1">first checkbox</label>
		</div>

		<input type="text" id="txtName" />
		<input type="button" value="ok" id="btnSave" />

		<script type="text/javascript">
		$(document).ready(function() {
			$('#btnSave').click(function() {
				addCheckbox($('#txtName').val());
			});
		});

		function addCheckbox(name) {
		   var container = $('#cblist');
		   var inputs = container.find('input');
		   var id = inputs.length+1;

		   $('<input />', { type: 'checkbox', id: 'cb'+id, value: name }).appendTo(container);
		   $('<label />', { 'for': 'cb'+id, text: name }).appendTo(container);
		}
		</script>
		
		<!-- footer -->
		<div>
			RPHub © by Henry Choi and Ravi Panse. An <a href="http://rcos.rpi.edu/"> RCOS </a> Project.
		</div>
		<!-- <footer></footer> -->
		
		
		
	</div>	<!-- meat -->


	
	<script>
	$(document).ready(function(){
		
		//collapse stuff
		$('.collapse-group').on('click', function(c) {
			c.preventDefault();
			var collapse = $(this).find('.collapse');
			collapse.show();
		});
		
		$('.collapse-button').on('click', function(e) {
			//alert('clicked');
			e.preventDefault();
			var collapse = $(this).closest('.collapse');
			console.log(collapse.html())
			collapse.hide();
			console.log(collapse.css("display"));
			e.stopPropagation();
		});
		
	});
	
	
</body>


</html>
